Django
reportlab
pandas
firebase-admin
scipy
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
python-dotenv
pypdf
bs4
arxiv
pymupdf
wikipedia
sentence_transformers
duckdb
openai
markdown
protobuf
pinecone
langchain-pinecone
psycopg2-binary
deep-translator
langchain-google-genai
google-ai-generativelanguage
langchain-chroma
gunicorn
google-generativeai
setuptools
whitenoise
gunicorn==20.1.0