Django>=4.2
pandas
matplotlib
firebase-admin
scipy
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
python-dotenv
pypdf
bs4
arxiv
pymupdf
wikipedia
sentence_transformers
duckdb
openai
markdown
protobuf==3.20.3
pinecone-client
langchain-pinecone
psycopg2-binary
deep-translator
langchain-google-genai
google-ai-generativelanguage
langchain-chroma
gunicorn
google-generativeai